/* colour */
.colour-green
{
    color: #5ba41c;
}

.colour-light-green
{
    color: #24aeb1;
}
.container-fluid
{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
body

{
    background-color: #f3f7fb !important;
    overflow-x: hidden;
    
}
a
{
    text-decoration: none !important;
}

/* nav-bar */
.img-logo

{
    background-color: black;
}


/* order-medicine-beauty-wellness */
.order-containt
{
    display: flex;
    width: 100%;
    height: 6rem;
    flex-direction: column;
    border-radius: 20%;
    justify-content: center;
}

.row-O
{
    border: none !important;
    background-color: white;
    border-radius: 1rem;
    align-items: center;
    box-shadow: 0 6px 12px -4px rgb(11 18 25 / 10%);
    
}
#Order-medicine-beauty-wellness .row-O
{
    margin: 10px;
}

.previously-ordered-img-1
{
    border-right:solid black 1px;
}

/* payment partner */
#payment-partner .card .logo-1
{
    width: 65%;
    margin: auto;
}

.payment
{
    justify-content: space-between;
}

.payment-para1
{
    color: red;
}
.payment-para3
{
    flex-direction: column;
}
.payment-h-1
{
    line-height: 3rem;
}

.payment-flexbox1 
{
    margin: auto !important;
    border-right: black solid 0.1px;
}
.payment-card
{
    border-radius: 1rem !important;
}
/* previously-ordered */
.previously-content
{
    flex-direction: column;
}
.previously-ordered-btn
{
    color: white;
    background-color: #24aeb1;
    border-radius: 0.2rem;
    border: none;
    width: 8rem;
    height: 2.5rem;
}
/* trending today */

.trending-h1
{
    justify-content: space-between;
    align-items: center;
}

/* shop by category */

.categoty-items
{
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding-right: 1.5rem;
}

.shop-ca-card
{
    display: flex;
    align-items: center;
}
.shop-by-category-h1
{
    justify-content: space-between;
    align-items: center;
}


/* membership */

.price-explore
{
    display: flex;
}

.row-membership-1
{
    margin: auto !important;
    width: auto !important;
}

.black-dot
{
    width: 0.5rem;
}

.price-explore
{
    justify-content: space-evenly;
    align-items: center;
}
.btn-membership
{
    color: white;
    background-color: #24aeb1;
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
}

.membership-para1
{
    font-size: x-large;
    color: #ef4281;
}
/* top-brands */

.top-brand-card
{
    align-items: center;
}


.owl-nav button span {
    font-size: 60px;
    padding: 0px 20px;
}

button.owl-prev {
    float: left;
}

button.owl-next {
    float: right;
}

.owl-nav {
    width: 100vw;
    position: absolute;
}

.owl-carousel.owl-theme.owl-loaded.owl-drag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-brand-h1
{
    text-align: center;
    justify-content:space-between ;
}

/* categories in focus */

.categories-in-focus-h1
{
    align-items: center;
    justify-content: space-between;
}


/* Explore Beauty */

.Explore-beauty-category-item
{
    width: 80%;
    justify-content: space-between;
}
#Explore-Beauty
{
    background-image: url(./images/background-img/bac-img-exp-beauty.svg);
}

/* best in beauty */
#Best-in-beauty
{
    background-image: url(./images/background-img/back-img-bestinbeauty.svg);
}

/* personal care */

/* Get-Medicine-refill */
.get-medicine-subscribe
{
    justify-content: flex-end;
    align-items: center;
}
